<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">

  {% if title %}
  <title>Рецепты - {{ title }}</title>
  {% else %}
  <title>Рецепты - Главная</title>
  {% endif %}

  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
  <header class="header">
    <h1 id="website-name" class="website-name">Рецепты от Сани</h1>

    <nav class="mainmenu">
      <ul>
        <li><a href='/'>Главная</a></li>
        <li><a href='/registration'>Регистрация</a></li>
        <li><a href='/about'>О сайте</a></li>
      </ul>
    </nav>
  </header>

  <div class="title">
    {% block title %}
    {% if title %}
    <h2>{{ title }}</h2>
    {% else %}
    <h2>Главная</h2>
    {% endif %}
    {% endblock %}
  </div>

  <div class="selected-ingredients"></div>

  <!-- <form action=" search" method="get" class="search-form">
    <input type="text" class="search-bar" placeholder="Поиск" name="q" value="{{ request.args.get('q', '') }}">
    <input type="submit" class="submit" value="Найти">
  </form> -->

  <div class="search">
    <input type="text" class="search-bar" placeholder="Поиск ингредиентов">
    <ul id="live-search" class="live-search-list"></ul>
  </div>

  <input type="button" class="search-button" value="Найти рецепты">



  {% block content %}
  {% endblock %}

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
