* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(255, 253, 235);
}

body {
  margin: 40px auto 200px;
  font-size: 24px;
  font-weight: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 1100px;
  min-height: 500px;
  box-shadow: 1px 5px 10px -5px black;
  background-color: azure;
  padding-bottom: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  background-color: antiquewhite;
  box-shadow: 1px 5px 10px -5px rgba(0, 0, 0, 0.5);
  position: sticky;
  z-index: 2;
  top: 0;
  left: 0;
  margin-bottom: 30px;
}

.website-name {
  font-size: 36px;
  color: rgb(175, 117, 0);
  margin-left: 2%;
}

.mainmenu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
}

.mainmenu li {
  background-color: rgb(249, 198, 102);
  display: flex;
  margin-left: 4px;
  padding: 0px 50px;
  border-radius: 2em / 5em;
}

.mainmenu ul li:hover {
  background-color: rgb(255, 166, 0);
  box-shadow: 1px 7px 30px -5px black;
  transform: rotate(2deg) scale(1.1);
}

.mainmenu a {
  text-decoration: none;
  color: rgb(44, 48, 165);
  font-size: 30px;
  margin: auto;
}

.mainmenu a:hover {
  color: rgb(182, 24, 24);
}

.title {
  text-align: center;
  color: rgb(225, 118, 51);
  margin-bottom: 30px;
}

.selected-ingredients {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-left: 10px;
  min-height: 40px;
}

.selected-ingredient-span {
  display: flex;
  align-items: center;
  background-color: rgb(255, 234, 183);
  border-radius: 8px;
  margin: 0 0 5px 8px;
  padding: 1px 7px 3px;
  width: fit-content;
  height: fit-content;
  color: rgb(107, 63, 6);
}

.search-element-btn {
  width: 15px;
  height: 15px;
  background-image: url(../image/close.png);
  background-size: contain;
  background-color: inherit;
  margin: 4px 0px 0px 5px;
  opacity: 0.3;
}

.search-element-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search-bar,
.search-button {
  display: block;
  padding: 7px 15px;
  font-size: 24px;
  font-family: inherit;
  border-radius: 10px;
}

.search {
  width: 85%;
  margin: 0 auto 15px;
  position: relative;
}

.search-bar {
  width: 100%;
  border: none;
  margin: 0 auto;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

.live-search-list {
  list-style: none;
  display: none;
  background-color: rgb(230, 240, 252);
  border-radius: 10px;
  color: rgb(73, 73, 73);
  position: absolute;
  z-index: 1;
  width: 100%;
  overflow: auto;
  max-height: 52vh;
}

.search-element {
  border-radius: 7px;
  padding: 0 15px;
}

.search-element:hover {
  color: rgb(214, 140, 12);
  background-color: rgb(205, 228, 255);
  cursor: pointer;
}

.search-button {
  background-color: #1c87c9;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin: 0 auto 20px;
}

.search-button:hover {
  opacity: 0.8;
}

.recipe {
  padding: 15px 30px;
  background-color: rgb(255, 253, 221);
  margin: 0 30px 20px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.recipe h3 {
  color: rgb(40, 104, 47);
  margin-left: 4%;
  font-size: 28px;
  font-weight: bold;
}

.recipe h3 a {
  text-decoration: none;
  color: inherit;
}

.recipe h3 a:hover {
  opacity: 0.8;
}

.recipe ul {
  list-style: none;
  margin-left: 7%;
  color: rgb(89, 89, 89);
}

.recipe p {
  color: rgb(109, 109, 109);
  text-align: justify;
}

.limit-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.flashed-messages {
  text-align: center;
}

.red {
  color: rgb(167, 0, 0);
}

.green {
  color: green;
}

@media (max-width: 1000px) {
  .mainmenu ul {
    display: none;
  }
}
